body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Set background color to black */
  color: white; /* Set font color to white */
}

.App {
  text-align: center;
}

/* Banner Section */
.banner {
  position: relative;
  background-image: url('./assets/background.png'); /* Banner background */
  background-size: cover; /* Ensure the image covers the section */
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh; /* Height of the banner */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

/* Animated Text */
.banner h1 {
  font-size: 3rem;
  text-align: center;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 2s forwards; /* Fade in after 2 seconds */
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Carousel container */
.carousel-container {
  position: relative;
  max-width: 800px;
  margin: 2rem auto;
  overflow: hidden;
}

/* Carousel slide */
.carousel-slide img {
  width: 100%;
  border-radius: 10px;
}

.carousel-caption {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Carousel buttons */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  color: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  outline: none;
  z-index: 1;
}

.carousel-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}
