body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  color: black;
}

/* Section with background image */
.App-background {
  background-image: url('./assets/background.png'); /* Background image */
  background-size: cover; /* Ensure the image covers the section */
  background-position: center;
  background-repeat: no-repeat; /* No tiling */
  height: 50vh; /* Set the height to half of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.App-logo {
  height: 100px;
  margin-bottom: 1rem;
}
.Home {
  text-align: center;
  padding: 2rem;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

/* Main content */
main {
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

p, ul {
  font-size: 1.2rem;
}

/* Footer styles */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
